.login-section {
    margin: 100px;
}

.login-failed-text {
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    color: red;
}

.login-success-text {
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    color: green;
}